/* ---- Import Fonts ---- */



/* ---- Layout ---- */

body {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
}

div {}

nav {
    width: 100%;
}

header {
    padding: 0;
    margin: 0;
    background-color: #99CCFF;
}

article {}

section {}

footer {}

aside {}

details {}

summary {}

dialog {}

iframe {}

/* ---- Text Content ---- */

/* define section */

h1 {
    font-size: 2em;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

p {}

a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

blockquote {}

pre {}

small {}

span{}

style {}

/* -- define type */

address {}

code {}

samp {}

strong {}

var {}

/* -- alter word */

abbr {}

del {}

dfn {}

time {}

u {}

/* -- alter group */

b {}

i {}

em {}

q {}

s {}

sub {}

sup {}

bdi {}

bdo {}

ins {}

kbd {}

mark {}

/* -- organization - text */

hr {
    
}

/* -- organization - lists */

ul {}

ol {}

li {}

dl {}

dt {}

dd {}

menu {}

menuitem {}

/* -- organization - tables */

table {}

caption {}

th {}

tr {}

td {}

thead {}

tbody {}

tfoot {}

col {}

colgroup {}

/* ---- Other Content ---- */

/* -- static visual */

img {}

map {}

area {}

canvas {}

figcaption {}

figure {}

/* -- non-static visual */

meter {}

progress {}

video {}

/* -- auditory */

audio {}

/* ---- Input ---- */

form {}

/*input {} // use selectors below */

textarea {}

button {}

select {}

optgroup {}

option {}

label {}

fieldset {}

legend {}

datalist {}

keygen {}

output {}











/* ---- specific ---- */

/* -- positional */

header h1 {
    color: white;
    padding: 0.2em 0;
}

header h2 {
    color: white;
    padding: 0 0 0.5em 0;
}

nav ul {
    padding: 0;
    margin: 0;
    background: red;
    list-style: none;
    display: table;
    width: 100%;
    table-layout: fixed;
}

nav ul li {
    display: table-cell;
    text-align: center;
}

nav ul li a {
    padding: 0.5em; /* height of nav bar */
    display: block;
    color: white;
}

nav ul li a:hover {
    background: darkred;
    color: white;
}

/* -- selector */



/* -- class */



/* -- id */

